BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
FixNamespaceComments: true
SpaceBeforeCpp11BracedList: false
PointerAlignment: Right
